/*Media query for all screen*/

@media all and (max-width: 1024px) {
    .container {
        width: auto;
    }

    .leftBox {
        display: none;
    }

    section {
        flex-direction: column;
    }

}

/* Media query for mobile only*/

@media all and (max-device-width: 480px) {
    .container {
        width: auto;
    }

    .leftBox {
        display: none;
    }

    section {
        flex-direction: column;
    }
}

/* Tags */

body {
    background-color: rgba(119, 9, 16, 0.9);
}

section {
    display: flex;
    margin-bottom: 20px;
}

a:link {
    color: green;
    background: rgba(0, 0, 255, 0.3);
}

a:visited {
    color: red;
}

a:hover {
    color: yellow;
}

a:active {
    color: blue;
}

article,
aside,
p {
    text-align: justify;
    color: rgba(255, 255, 255, 0.9);
}

article {
    margin-right: 20px;
    flex: 3;
}


h1 {
    font-family: 'Berkshire Swash', Arial, serif;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    background-color: rgba(45, 172, 214, 0.7);
    padding: 10px;
    font-size: 40px;
    border-radius: 5px;
}

h3 {
    flex: 3;
    font-family: 'Aclonica', Arial, serif;
    color: rgba(225, 0, 0, 0.7);
    text-align: center;
    background-color: rgba(45, 172, 214, 0.7);
    padding: 10px;
    font-size: 25px;
    border-radius: 5px;
}

p {
    font-size: 20px;
    font-family: 'Bubblegum Sans', Arial, serif;
}

li {
    font-size: 17px;
    font-family: 'Bubblegum Sans', Arial, serif;
}

img {
    max-width: 30%;
    display: block;
    height: auto;
    color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    border-color: rgba(45, 172, 214, 0.2);
    border-width: auto;
    border-style: solid;
    box-shadow: 6px 6px 6px;
}

/* id's */

#header {
    text-align: center;
    max-width: 100%;
    display: block;
    font-size: 17px;
    margin: 20px;
}

#footer {
    text-align: center;
    max-width: 100%;
    display: block;
    font-size: 17px;
}

#main {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background:
        url("https://img.freepik.com/free-vector/matrix-style-binary-code-digital-falling-numbers-blue-background_1017-37387.jpg?t=st=1734030945~exp=1734034545~hmac=45fa517dd1e3fa844f5e7698153ec231533d6c77c36d9d70b60697e62dbe1d6f&w=996") fixed center;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.float {
    float: right;
}

.bottom {
    clear: both;
}

.container {
    display: flex;
}

.leftBox {
    position: left;
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 35px;
    margin-right: 10px;
}

.mainBox {
    width: 95%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: auto;
    padding: 8px;
}

.firstBox {
    padding: 10px;
}

.secondBox {

    margin-bottom: 30px;
}